<!-- <div class="main">

    <div class="navbar">
        <div class="flexcol"> -->
<!-- first column -->
<!-- logo -->

<!-- <div class="flexrow">
                <div>
                    <h2>a</h2>
                </div>
                <div>
                    <h2>b</h2>
                </div>
                <div class="flexrowstart">
                    <h2 [routerLink]="['home']">HOME</h2>
                    <h2 [routerLink]="['work']">WORK</h2>
                    <h2 [routerLink]="['projects']">PROJECTS</h2>
                    <h2 [routerLink]="['education']">EDUCATION</h2>
                </div>
            </div>
            <div class="flexrowend"> -->
<!-- lang selector -->
<!-- <h3 [routerLink]="['home']">LANG SELECTOR</h3>

            </div>
        </div>



        <router-outlet></router-outlet>
    </div> -->

<div [ngClass]="{ 'pc-style': isPC, 'mobile-style': !isPC }">
    <div class="parent navbar">
        <div class="center">
            <h2>LANG SELECTOR (?)</h2>
        </div>
        <div class="center">
            <p>LOGO</p>
        </div>
        <div class="center">
            <div [ngClass]="{ 'flexrowend': isPC, 'flexcolend': !isPC }">
                <h2 [routerLink]="['home']">HOME</h2>
                <h2 [routerLink]="['education']">EDUCATION</h2>
                <h2 [routerLink]="['work']">WORK</h2>
                <h2 [routerLink]="['projects']">PROJECTS</h2>
            </div>
        </div>

    </div>
    <router-outlet></router-outlet>
</div>